<nav class="navbar navbar-primary bg-primary">
  <div class="container-md">
    <div class="btn-group">
      <!-- Κουμπί που ανοίγει το dropdown με επιλογές -->
      <button
        type="button"
        class="btn btn-outline-light dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Change Chatbot
      </button>
      <!-- Μενού επιλογών για αλλαγή μεταξύ Chatbot και Δημιουργίας Εικόνας -->
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/">Chatbot</a></li>
        <li>
          <a class="dropdown-item" href="/image">Image Generation</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
